@charset "UTF-8";

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

#navDiv{
	background-color: #729fcf;
	overflow: hidden;
	height: 40px;
	
}

nav{
	float:right;
	margin-right:5px;

}

nav a{
	margin-right:-6px;
	display:inline-block;
	height: 23px;
	text-align: center;
	font-size: 1.8vw;
	min-width:10%;
	padding: 5px;
	text-decoration: none;
	border: #3465a4 solid;

}

nav a:hover{
	background-color: #3465a4;
}

nav a:active{
	background-color: #204a87;
}
