@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html, body {
	height: 100%;
}

body {
/* 	background-image: linear-gradient(to bottom right, #194F91, #1A488E, #688BC0) */
/* 		!important; */
	background-image: url("../img/background.jpg");
	overflow-x: hidden;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}


nav:hover{
	opacity:1;
}

.top-img-div{
	width:100%;
	background-image: url("../img/top-img-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-custom-nav-color {
	background-color: #194f91;
}

.social-media-links{
	position: absolute;
	bottom:0;
	right:0;	
}
.centered-brand{
	position: absolute;
	left: 50%;
	top:50%;
	width: auto;
	transform: translate(-50%,-50%);
}

.about{
	width:90%;
}

.contact-me{
	width:90%;
	border-radius:15px;
}

.about-text{
	border-radius:15px;
	width:90%;
}
.about-image{
	width:100%;
}

.about-text-inner{
	width:80%;
	margin-right: auto;
	margin-left: auto;
}

.skills-cards{
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

.card-custom{
	font-size:14px;
	border-radius:15px;
}

.card-deck{

}

.divider{
	max-width:15rem;
	border: 2px solid white;
	height:2px;
}
#about{
	height:10%;
	

}
#skills{
	height:10%;
}

.bye{
	background-image: linear-gradient(to bottom right, #092147 , #1A488E, #97B2DE);
	height:15vh;
	min-height: 70px;
}


@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width:768px){
nav{
	opacity: 0.6;
}

}

